html {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

html {
	--fg: #dadbe4;
	--bg: #262429;
	--highlight: rgba(67, 67, 243, 0.13);
	--type--100: 0.625rem;
	--type--200: 0.7rem;
	--type--300: 0.8rem;
	--type--400: 1rem;
	--type--500: 1.1875rem;
	--type--600: 1.375rem;
	--type--700: 1.75rem;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	container-type: inline-size;
	min-height: 100vh;
}

[hidden] {
	display: none !important;
}

:where(h1, h2, h3, h4, h5, h6) {
	> :where([slot="suffix"], [slot="prefix"]) {
		font-size: 1rem;
		display: block;
	}

	> :where([slot="prefix"]) {
		margin-block-end: 0.5rem;
	}

	> :where([slot="suffix"]) {
		margin-block-start: 0.5rem;
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.125rem;
}

.intro {
	padding: 1rem;

	@container (width >= 720px) {
		padding: 2rem;
	}
}

totem-forge {
	display: grid;
	gap: 1rem;
	padding: 1rem;

	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto auto auto auto;
	grid-template-areas:
		"controls"
		"libraryheading"
		"filter"
		"library"
		"selectedheading"
		"actions"
		"selected"
		"outputheading"
		"output";

	@container (width >= 720px) {
		padding: 2rem;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto 50vh auto auto;
		grid-template-areas:
			"controls controls"
			"libraryheading selectedheading"
			"filter actions"
			"library selected"
			"outputheading outputheading"
			"output output";
	}
}

.controls {
	grid-area: controls;
}

.library-heading {
	grid-area: libraryheading;
}

.library-filter {
	grid-area: filter;
}

.effects-library {
	grid-area: library;

	/* group */
	> ul {
		list-style: none;
		padding: 0;

		&:not(:has(> [totem="effect-item"]:not([hidden]))) {
			display: none;
		}
		[role="presentation"] {
			font-weight: 700;
			font-size: var(--type--500);
		}

		[role="option"] {
			&[aria-selected="true"] {
				opacity: 0.7;
			}
		}
	}
}

.selected-heading {
	grid-area: selectedheading;
}

.effect-actions {
	grid-area: actions;
	display: flex;
	gap: 0.25rem;
}

.effects-selected {
	grid-area: selected;
	list-style: none;
	padding: 0;

	> .pin {
		padding: 0.75rem 0.25rem;
		cursor: grab;
		&::before {
			display: block;
			border-block-start: 0.125rem dashed currentColor;
			content: "";
		}

		&:active {
			cursor: grabbing;
			background-color: var(--highlight);
		}
	}

	> [aria-selected="true"] {
		outline: 1px solid currentColor;
		outline-offset: -2px;
	}
}

.effects-library,
.effects-selected {
	overflow-y: scroll;
	border: 2px solid currentColor;
	padding: 0.125rem;

	@container (width < 720px) {
		max-height: 50vh;
	}
}

.output-heading {
	grid-area: outputheading;
}

.output {
	grid-area: output;
}

[totem="effect-item"] {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas: "icon name id" "icon source source";
	gap: 0.25rem 0.5rem;
	padding: 0.25rem;
	align-items: baseline;

	> [slot="name"] {
		grid-area: name;
	}

	> [slot="id"] {
		grid-area: id;

		&[title] {
			text-decoration: dotted underline;
		}
	}

	> [slot="icon"] {
		grid-area: icon;
		align-self: center;
	}

	> [slot="source"] {
		grid-area: source;
		font-size: var(--type--300);
	}

	> [slot="draghandle"] {
		grid-area: draghandle;
		align-self: stretch;
		display: block;
		background-color: currentColor;
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	&[draggable="true"]:active {
		cursor: grabbing;
		background-color: var(--highlight);
	}

	&[controls] {
		grid-template-columns: 1.5rem auto 1fr auto;
		grid-template-areas: "draghandle icon name id" "draghandle icon source source";
	}
}

.drop-before {
	border-block-start: 0.25rem solid currentColor;
}

.drop-after {
	border-block-end: 0.25rem solid currentColor;
}
