html {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

html {
	--fg: #dadbe4;
	--bg: #262429;
	--type--100: 0.625rem;
	--type--200: 0.7rem;
	--type--300: 0.8rem;
	--type--400: 1rem;
	--type--500: 1.1875rem;
	--type--600: 1.375rem;
	--type--700: 1.75rem;
}

body {
	background-color: var(--bg);
	color: var(--fg);
}

[hidden] {
	display: none !important;
}

.effects-list {
	> ul {
		list-style: none;
		padding: 0;
		[role="presentation"] {
			font-weight: 700;
			font-size: var(--type--500);

			&:not(:has(~ :not([hidden]))) {
				opacity: 0.7;
			}
		}

		[role="option"] {
			&[aria-selected="true"] {
				opacity: 0.7;
			}
		}
	}
}

[totem="effect-item"] {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas: "icon name id" "icon source source";
	gap: 0.25rem 0.5rem;
	padding: 0.25rem;
	align-items: baseline;

	> [slot="name"] {
		grid-area: name;
	}

	> [slot="id"] {
		grid-area: id;

		&[title] {
			text-decoration: dotted underline;
		}
	}

	> [slot="icon"] {
		grid-area: icon;
		align-self: center;
	}

	> [slot="source"] {
		grid-area: source;
		font-size: var(--type--300);
	}
}
